<!doctype html>
<html class="no-js" lang="{{ page.seoLang }}">

    <head>
        {% include "includes/head.twig" %}
        {% include basekit.headScript %}
    </head>

    <body class="{{ page.backgroundClass }} {% block class %}{% endblock %}">


        <!-- Main Widget Zone -->
        {% block content %}
        {% endblock %}

        <!-- Footer Include -->
        {% include "includes/footer.twig" %}


        {% include basekit.bodyScript %}


        <!-- Close folders on nav on touch devices -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>

        <script nonce="{{ numberUsedOnce }}">
        
            // Toggles class open to display/hide the whole navigation
            $(document).on("click", ".navigation-toggle", function() {
                $( ".bk-extendednavigation" ).toggleClass( "open" );
            });

            // Togglse class open to display/hide folders
            $( ".navigation-item.folder" ).each(function() {
                $( this ).click(function() {
                    $( this ).toggleClass( "open" );
                });
            });
        </script>

        <!-- Sticky Header -->
        <script src="{{asset('js/position-sticky.js')}}"></script>

        <!-- Touch Script -->
        <script nonce="{{ numberUsedOnce }}">
            $(document).on('mq4hsChange', function (e) {
                console.log(e);
                $(document.documentElement).toggleClass('no-touch', e.trueHover);
            });
        </script>

        <!-- Touch Shim -->
        <script src="{{asset('js/mq4-hover-shim.js')}}"></script>

        <!-- Single Post 'has-image' class -->
        <script nonce="{{ numberUsedOnce }}">
            $(document).ready(function(){
                if ( $("article").hasClass("post-article--has-image") ) {
                $(".template-blogpost").addClass("has-image");
                }
            });
        </script>

    </body>
</html>
